[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
h5py = "*"
hyperdash = "*"
tensorflow = {version = "*", sys_platform = "== 'darwin'"}
tensorflow-gpu = {version = "*", sys_platform = "!= 'darwin'"}
numpy = "*"
keras = "*"
seaborn = "*"
matplotlib = "*"
pandas = "*"
jupyterlab = "*"

[dev-packages]

[requires]
python_version = "3.6"
